div.board {
  width: 80%;
  margin: 0 auto;
}
h2.title {
  text-align: center;
}
div.search {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 85%;
  margin: 0 auto;
}
